/*
!/.bash_history
!/.bashrc
!/.gitconfig
!/gtkrc-2.0
!/.profile
!/.vimrc
!/.xinitrc
!/crontab.txt
!/flatpakpackages.txt
!/packages.txt
/.config/*
!/.config/awesome/*
!/.config/gtk-2.0/*
!/.config/gtk-3.0/*
!/.config/mpv/*
!/.config/nitrogen/*
!/.config/nvim/*
!/.config/pcmanfm/default/*
!/.config/qt5ct/*
!/.config/sxhkd/*
!/.config/syncthing/*
!/.config/mimeapps.list
!/.config/redshift.conf
!/.dwm/*
/.local/*
!/.local/linkhandler
!/.newsboat/*
